/* -----------<General>----------- */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
  
}
:root{
    --background-color:#DBC89E;
    --nav-background-color:#9D6B46;
    --list-active-color:#C9A262;
    --nav-color:#e6d2bd;
    --nav-hover-background:#D4AB74;
    --nav-hover-color:#444043;
    --footer-background:black;
    --footer-color:aliceblue;
    --a-active:rgb(0, 156, 156);
    --shadow2:rgba(74, 74, 74, 0.677);
    --border-color:black;
    --div-background-color:#D29754;/*#e4a256e3*/
    --log-in-div:#f5f5f5d7;
    --btn-hover-color:#fc6f1e;
}

body{
    /* z-index: index 1; */
    text-align:left;
    /* padding: 0%; */
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--background-color);
    visibility:visible;
    
    
}



.nav{
    font-size: 25px;
    opacity: 100%;
    z-index: 1;
    max-height: 7%;
    ul{
        background-color:var(--nav-background-color);
        list-style: none;
        overflow: hidden;
        
        position: fixed;
        top: 0px;
        width: 100%;
        margin: 0px;
        transition: color 1s ease 0.2s;
        
        

    }
    li a:active{
        color: var(--list-active-color);
    }
    li{
        float: left;
    }
    li a{
        text-align: center;
        text-decoration: none;
        padding: 10px;
        display: block;
        color: var(--nav-color);
        transition: color .45s ease 0.05s;
        transition: background-color .4s ease 0s;
        
    }
    li a:hover{
        
        background-color:var(--nav-hover-background) ;
        color: var(--nav-hover-color);
        
    }
}


.footer{
    background-color:var(--nav-background-color);
    
    color: var(--nav-color);
    width: 100%;
    
    margin-inline: 0%;
    padding: 15px;
    /* position: relative;
    top:150px; */
    margin-bottom: 0%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    

    
}

.footer .footer-body{
    display: flex;
    flex-direction: row;
    color: var(--nav-color);
    padding-top: 50px;
    h2{
        margin-top: 1%;
        font-size: 28px;
        color: var(--nav-color);
        
    }
    p{
        margin-top: 1%;
        font-size: 20px;
        margin-bottom: 1%;
    }
    ul{
        margin-top: 1%;
        list-style: none;
        
        
        font-size: 20px;
        margin-bottom: 1%;
        li{
            
            margin-left: 10px; ;
            font-size: 20px;
            margin-bottom: 1%;
        }
    }
    li a{
        color: var(--nav-color);
    }
    a{
        font-size: 20px;
        
    }
}

.footer .footer-body .footer-first{
    width: 50%;
    padding-left:5%;
    display: block;
}


/* -----------</general>----------- */



/* -----------<home.html>----------- */
.container{
    margin-top: 20px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: auto;
    flex-direction: column;
    z-index: auto;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.box{
    z-index: auto;
    background-color:var(--div-background-color) ;
    width: 185vh;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    margin: 2vh;
    padding: 1vh;
    position: relative;
    width: 90%;
    height: 580px;
    border-radius: 4px;
    box-shadow: 1vh 2vh 0vh 0vh rgba(0, 0, 0, 0.159);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0%;
    overflow: hidden;
    

    /* .home-history{
        height: 100%;
        position: absolute;left: 0vh; 
        top: 0%; 
        border-top-right-radius: 75%;
        border-bottom-right-radius: 50%; 
        border-width: 2vh; 
        border-color: var(--border-color); 
        box-shadow: 2vh 0 0 0 var(--shadow2) ;
        padding: 0%;
    }

    h2{
        margin-top: 1%;
        margin-left: 80vh;
        font-size: 5vh;
    }
    p{
        margin-left: 80vh;
        font-size: 3vh;
        margin-top: 2%;
        
    } */
    
    a:active{
        color: var(--a-active);
    }
   


}

#Knowledge{
    width: 100%;
    height: 100px;
    padding-top: 100px;
    padding-left: 10%;
    font-size: 54px;
    margin-bottom: 150px;
    color: #844b1f;
    
}

.history-box{
    
    justify-items: left;
    padding: 0%;
    overflow: hidden;
    
    
    
}
.history-box .history-img {
    box-sizing: border-box;
    max-width: 50%;
    border: 1px solid var(--border-color);
    border-top-right-radius: 75%;
    border-bottom-right-radius: 50%;
    
    
    
    
}
.history-box .history-img img{
    
    height: 100%;
    
    margin: 0%;
    border-top-right-radius: 75%;
    border-bottom-right-radius: 50%; 
     
    box-shadow: 2vh 0 0 0 var(--shadow2) ;
    
    
}
.history-box .history-text, .box-text{
    
    /* border: 2px solid var(--border-color); */
    box-sizing: border-box;
    background-color: var(--div-background-color);
    padding: 3%;
    margin-left: 2%;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: var(--border-color);
    max-width: 60%;
    display: flex;
    flex-direction: column;

    
    h2{
        margin-top: -2%;
        margin-left: -4%;
        font-size: 5em;
    }
    p{
        
        font-size: 1.7em;
        margin-top: 2%;
        
        
    }
    .box-disc{
        overflow: auto;
    }
}

.etiquette-box .etiquette-text{
    max-width: 55%;
    border-width: 1px 0px 1px 1px;
    margin-left:0%;
    padding-left: 4%;
    order: 2;
}

.etiquette-box{
    flex-direction: row-reverse;
}

.etiquette-box .etiquette-img{
    box-sizing: border-box;
    max-width: 50%;
    border: 1px solid var(--border-color);
    border-top-left-radius: 75%;
    border-bottom-left-radius: 50%;
    overflow: hidden;
    box-shadow: 1em 0 0 1.5em var(--shadow2) ;
    order: 1;
}

.etiquette-box .etiquette-img img{
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    height: 100%;
    /* max-width: 50%; */
    margin: 0%;
}

@media (max-width: 1600px) {
    .box {
      height: 400px;
    }
    
    .box h1 {
      font-size: 42px; /* Corrected: Added 'px' unit */
    }
    
    .box p {
      margin-top: 4%;
    }
  }
  @media (max-width: 1080px){
    .box{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .box .box-img img{
        border-radius: 0%;
        box-shadow: none;
        width: 100%;
        
    }
    .history-box .history-text, .box-text{
        max-width: 100% !important;
        border: none;
        padding-bottom: 50px;

    }
    .box .box-text h2{
        margin-left:0% ;
    }
    .box .box-img{
        box-sizing: border-box;
        border: 1px solid var(--border-color);
       border-radius: 0%;
        max-width: 100%;
        
    }

    #Knowledge{
        width: 100%;
        height: 100px;
        padding-top: 100px;
        padding-left: 0%;
        font-size: 54px;
        margin-bottom: 150px;
        color: #844b1f;
        
    }

  }
/* -----------</home.html>----------- */


/* -----------<contact.html>----------- */
.contact{
    margin-top: 100px;
    margin-left: 30%;
    font-size: 28px;
    border: 1px solid var(--border-color);
    width: 40%;
    height: 750px;
    box-sizing: border-box;
    background-color: #eec160;
    display: flex;
    align-self: center;
    justify-content:space-around;
    flex-direction: row;
    align-content: center;
    border-radius: 2vh;
    box-shadow: 0vh 1vh 3vh 0vh rgba(74, 74, 74, 0.359);
    div{
        text-align:left ;
        margin: 1vh;
        
    }
   

}

.contact-input{
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 22px;
}

.contact-textarea{
    width: 80%;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 22px; ;
}

.contact-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    
    width: 100%;
    margin: 0%;
    label{
        align-self: self-start;
        margin-left: 10%;
    }
}

.contact-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: px;
    
    width: 250px;
    height: 50px;
}

.contact-btn:hover{
    background-color: var(--btn-hover-color);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.mass-dis{
    width: 100%;
    height: 15%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-inline: 2%;
}

@media (max-width: 1600px){
    .contact{
        width: 50%;
        margin-left: 25%;
        
        margin-top: 10%;
    }
}

@media (max-width:1080px){
    .contact{
        width: 100%;
        margin: 0%;
        margin-top: 10%;
    }
}

/* -----------</contact.html>----------- */

/* -----------<Login.html>---------- */
.LRDiv{
    width: 100%;
    height: 100%;
    margin: 0%;
    margin-top: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    z-index: 0;
}

.LogIn{
    /* position: fixed;
    left: 0%;
    top: 55%; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--log-in-div);
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 0%;
    
    text-align: center;
    align-content: center;
    transition: opacity 0.3s ease;
    transition: visibility 0.3s ease 0.025s;
    h1{
        text-decoration: underline;
    }
    hr{
        height: 3px;
        
        background-color: black;
    }
}
.LBox{
    opacity: 0.2;
    order: 2;
}

.RBox{
    opacity: 0.2;
    order: 1;
}



.LogIn:hover{
    opacity: 100%;
    transition: opacity 0.3s ease;
    
}
.LogIn .LHead{
    font-size: 48px;
    width: 100%;
    height: 20%;
    margin-top: 7%;

}
.LogIn .LBody{
    margin-top: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 24px;
    height: 70%;
    font-weight: bold;
    
}
.LogIn .LBody .inputbar{
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 22px; ;
}
.LogIn .LBody .LSubmit{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    height: 50px;
    margin-left: 13%;
}
.LogIn .LBody .LSubmit:hover{
    background-color: var(--btn-hover-color);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: px;
    margin-left: 13%;
    width: 300px;
    height: 50px;
    
    background-color: #4285F4;
}

.RGoogle{
    margin-bottom: 18%;
}

.LGoogle{
    margin-bottom: 67%;
}

.google-btn:hover {
    background-color: #357ae8;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.google-btn:active {
    background-color: #2a56c6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.google-btn img {
    margin-right: 10px;
}

#Ldiv, #Rdiv{
    background-color: var(--log-in-div);
    width: 300px;
    height: 100px;
    font-size: 52px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 1;
    border: 2px solid var(--nav-background-color);
    transition: visibility 0.1s ease;
    cursor: pointer;
    
    
}

#Ldiv {
    position: fixed;
    right: 0%;
    top: 30%;
}

#Rdiv {
    position: fixed;
    left: 0%;
    top: 30%;
}
#Ldiv:hover, #Rdiv:hover{
    background-color: var(--btn-hover-color);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}


@media(max-width:1080px){
    .LRDiv{
        flex-direction: column;
    }
    .LogIn{
        width:100%;
        opacity:100%;
       
    }
    #Ldiv, #Rdiv{
        font-size: 30px;
        position: fixed;
        top: 94%;
        left: 35%;
        width: 150px;
        height: 60px;
    }
    .LogIn{
        position: relative;
        
    }
    
}

/* -----------</Login.html>---------- */

/* -----------<history.html>----------- */

.history{
    
    margin: 1%;
    margin-top: 5em;
    background-color: var(--div-background-color);
    border: 2px solid var(--border-color);
    border-radius: 3px;
    width: 98%;
    

    h1{
        margin-top: 2%;
        font-size: 52px;
        align-self: self-start;
    }
    h2{
        margin-top: 2%;
        font-size: 44px;
    }
    p{
        
        font-size: 24px;
        margin-bottom: 1%;
    }
    
   
    
}

.history-body{
    width: 80%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.history2{
    width: 60%;
    max-height: 700px;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
    }
    

}

@media (max-width: 1080px){
    .history{
        width: 100%;
        margin: 0%;

    }

    .history2{
        width: 70%;
        max-height: 500px;
        overflow: hidden;
    }

    .history-body{
        width: 100%;
    }

    .recommendation{
        display: none;
    }
}

/* -----------</history.html>----------- */


/* -----------<Etiquette.html>---------- */


.etiquette{
    margin: 1%;
    margin-top: 5em;
    background-color: var(--div-background-color);
    border: 2px solid var(--border-color);
    border-radius: 3px;
    width: 98%;
    

    h1{
        margin-top: 2%;
        font-size: 48px;
        align-self: self-start;
    }
    h2{
        margin-top: 2%;
        font-size: 44px;
    }
    p{
        
        font-size: 24px;
        margin-bottom: 1%;
        
    }
    ul{
        margin-top: 1%;
        list-style: disc;
        
        
        font-size: 23px;
        margin-bottom: 1%;
        li{
            
            margin-left: 2%; ;
            font-size: 23px;
            margin-bottom: 1%;
        }
    }
    
    .chopsticks{
        width: 80%;
        height: 600px;
    }

}
.recommendation{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.etiquette-body{
    width: 80%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.etiquette-photo{
    width: 80%;
    max-height: 700px;
    img{
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 1080px){
    .etiquette{
        width: 100%;
        margin: 0%;

    }

    .chopsticks, .etiquette-photo{
        width: 90%;
        max-height: 500px;
        overflow: hidden;
    }

    .etiquette-body{
        width: 100%;
    }

    .recommendation{
        display: none;
    }
}

/* -----------</Etiquette.html>---------- */


/* -----------<Types.html>---------- */
.type-container{
    margin: 0%;
    padding: 0%;
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    

}

.type-container .type-box{
    margin-inline: 1%;
    padding: 0%;
    margin-top: 100px;
    box-sizing: border-box;
    background-color: var(--div-background-color);
    width: 98%;
    border: 2px solid var(--border-color);
    border-radius: 3px;
    padding-inline: 1%;
    overflow: hidden;

    h1{
        margin-top: 1%;
        font-size: 52px;
        align-self: self-start;
        text-decoration: underline;
    }
    h2{
        margin-top: 1%;
        font-size: 44px;
        text-decoration: underline;
    }
    p{
        margin-top: 1%;
        font-size: 30px;
        margin-bottom: 1%;
    }
    ul{
        margin-top: 1%;
        list-style: disc;
        
        
        font-size: 30px;
        margin-bottom: 1%;
        li{
            
            margin-left: 2%; ;
            font-size: 30px;
            margin-bottom: 1%;
        }
    }
    img{
        border: 2px solid var(--border-color);

    }
    a{
        font-size: 24px;
    }
    
}
.type-container .type-box .type-body{
    display: flex;
    flex-direction: row-reverse;
    
    p{
        margin-right: 20px;
        
    }
}

.info{
    margin-bottom: 20px;
}

@media (max-width: 1080px){

    .type-container .type-box{
       
        padding: 0%;
        margin-top: 100px;
       
        width: 98%;
       
        padding-inline: 1%;
    
        h1{
            margin-top: 2%;
            font-size: 52px;
            align-self: self-start;
        }
        h2{
            margin-top: 2%;
            font-size: 44px;
        }
        p{
            
            font-size: 30px;
            margin-bottom: 1%;
            font-size: 24px;
        }
        
    }

    .type-container .type-box .type-body{
        display: flex;
        flex-direction: column;
    }
}

.type-container .type-box ul{
    margin-top: 1%;
    list-style: disc;
    
    
    font-size: 23px;
    margin-bottom: 1%;
    li{
        
        margin-left: 6%; ;
        font-size: 24px;
        margin-bottom: 1%;
    }
}

/* -----------</Types.html>---------- */

/* -----------<Restaurants.html>---------- */

.rest-container{

    margin: 0%;
    padding: 0%;
    padding-top: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    h1{
        margin-top: 1%;
        
        align-self: self-start;
        text-decoration: underline;
        margin-left: 2%;
    }
}

.rest-container .rest-box{

    margin-inline: 1%;
    padding: 0%;
    margin-top: 50px;
    box-sizing: border-box;
    background-color: var(--div-background-color);
    width: 98%;
    border: 2px solid var(--border-color);
    border-radius: 3px;
    padding-inline: 1%;
    overflow: hidden;
    height: 500px; 
    

    
    h2{
        margin-top: 1%;
        font-size: 44px;
        text-decoration: underline;
    }
    p{
        margin-top: 1%;
        font-size: 30px;
        margin-bottom: 1%;
    }
    ul{
        margin-top: 1%;
        list-style: disc;
        
        
        font-size: 30px;
        margin-bottom: 1%;
        li{
            
            margin-left: 2%; ;
            font-size: 30px;
            margin-bottom: 1%;
        }
    }
    
    a{
        font-size: 30px;
        
    }
    

}

.rest-container .rest-box .rest-body{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 1%;

    .rest-img{
        width: 22%;
        overflow: hidden;
        
    }

    img{
        border: 2px solid var(--border-color);
        /* height: 400px; */
        width: 100%;
        

    }
   
}
.rest-container .rest-box .rest-body .rest-info{
width: 70%;
}

@media (max-width: 1080px){
    .rest-container .rest-box {
        height: 300px;
        h1{
            
            font-size: 36px;
            
        }
        h2{
            
            font-size: 32px;
           
        }
        p{
           
            font-size: 18px;
           
        }
        ul{
           
           
            
            
            font-size: 18px;
           
            li{
                
                
                font-size: 18px;
               
            }
        }
        
        a{
            font-size: 18px;
        }
    }
}

/* -----------</Restaurants.html>---------- */